body{
overflow-x: hidden;    
}
/*header*/
#B1{
background-color:orange;     
width:900px;
height:300px; 
}
#B2{
background-color:orange;     
width:900px;
height:300px;
margin-left:1000px;
margin-top:-300px; 
}
/*header*/

/*основа*/
#B3{
background-color:yellow;
width:1900px;
height:800px;
margin-top:100px;     
}/*основа*/

/*footer*/
#B4{
background-color: blue;
width:500px;
height:400px;
margin-top:100px; 
}

#B5{
background-color: blue;
width:600px;
height:400px;
margin-top:-400px;
margin-left:600px; 
}

#B6{
background-color: blue;
width:580px;
height:400px;
margin-left: 1300px;
margin-top:-400px;
}

#B7{
background-color:gray;
width:400px;
height:300px;
margin-top:50px; 
}

#B8{
background-color:gray;
width:400px;
height:300px;
margin-top:-300px;
margin-left:500px; 
}

#B9{
background-color:gray;
width:400px;
height:300px;
margin-top:-300px;
margin-left:1000px;   
}

#B10{
background-color:gray;
width:400px;
height:300px;
margin-top:-300px;
margin-left:1470px;    
}
